<li>
  <span style="font-weight: bold;">{{group.label || group.name}} ({{model.ID}})</span>
  <span style="font-size: small;" *ngIf="group.desc"><br>({{group.desc}})</span>
  <ul *ngFor="let pointDef of group?.points">
    <li *ngIf="shouldShowPoint(pointDef)">
      <span style="font-weight: bold;">{{pointDef.label || pointDef.name}}: </span>
      <span>{{getValue(pointDef)}} {{pointDef.units}}</span>
      <span style="font-size: small;"><br>({{pointDef.access === 'RW' ? 'RW' : 'RO'}} - {{pointDef.type}}:
        {{pointDef.desc}})</span>
        <!-- TODO print possible values for enums/bitsets -->
    </li>
  </ul>
  <ng-container *ngFor="let groupDef of group?.groups">
    <ul *ngFor="let groupModel of model[groupDef.name]">
      <app-sunspec-group [group]="groupDef" [model]="groupModel" [parentGroup]="group"></app-sunspec-group>
    </ul>
  </ng-container>
</li>